<template>
  <div class="p-4">
  
  </div>
</template>

<script setup lang="ts"></script>

<style scoped></style>

<route lang="json">
{
  "meta": {
    "sort": 101,
    "title": "{{name}}",
    "icon": "icon-park-outline-home"
  }
}
</route>